<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div id="mapid"></div>
    <p>Click on the map to get European Countries information.</p>
    <p><small><%= link_to 'Login', login_path %></small></p>
  </div>
</section>